.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin: 2rem;
  padding: 0;
}

.input {
  padding: 10px; /* Ajusta según sea necesario */
  font-size: 16px;
  border: 2px solid #3498db;
  border-radius: 5px 0 0 5px; /* Ajusta según sea necesario */
  background: white;
  color: #3498db;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 0;
}

button {
  padding: 10px; /* Ajusta según sea necesario */
  font-size: 16px;
  border: 2px solid #3498db;
  border-radius: 0 5px 5px 0; /* Ajusta según sea necesario */
  background: white;
  color: #3498db;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #3498db;
  color: #fff;
}
